.navbar-brand {
    height: 100;
    width: 100;
    
}

.custom-nav .custom-nav-item a{
    color: #fff !important;
}
.custom-nav-item:hover{
    background-color: #dc3545;
    border: soild #dc3545;
    border-radius: 10px;
}
.navbar-brand .image{
border-left: 20px;
}
.remove-vid-marg{
    margin: 0px;
    padding: 0px;
}
.vid-parent{
    position: relative;
}
video{
    width: 100%;
    height: 100%;
}
.vid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #225470;
    z-index: 1;
    opacity: 0.8;
}
.vid-content{
    position:absolute;
    z-index:2;
    top: 35%;
    left: 30%;
    right: 30%;
    text-align: center;
    color: #fff;
}
.bottom-banner{
    color:#fff ;
    padding: 10px;
}

@media screen and(min-width: 0px)and(max-width:700px) {
.my-content, .txt-banner{
    display: none;
}
.vid-content{
    top: 12%;
    left: 60%;
}
.custom-nav .custom-nav-item a{
    padding: 10px 20px;
    background-color: #225470;
}
.custom-nav-item:hover{
    background-color: none;
    border: none;
    border-radius: none;
}

    
}