
#search-suggestions {
    background-color: #9bbebf;
    /* border: 0px solid #1eb299; */
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    width: 210px;
    z-index: 1000;
    display:block;
}

.mathang-item {
    padding: 8px;
    
    /* cursor: pointer; */
}
.mathang-item a{
    color: black;
    text-decoration: none;
}
.mathang-item:hover {
    background-color: #2dbcc1;
}

#search-button {
    margin-right: 20px;
}
a img{
    margin-right: 20px;
}